.title {
    color: #3366ff;
    text-align: center;
    border: 3px solid green;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
 body {
    font-family: Helvetica, Arial, sans-serif;
 }